.header {
    overflow: hidden;
    background-color: white;
    padding: 7px 7px;
    border-bottom: 4px outset grey;
    border-bottom-width: thin;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  

  .header-right {
    float: right;
    align-items: flex-end;
  }
  
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  .box1 { 
    display:flex;

  }
  .box2 { 
    display:flex;

  }
  .box3 { 
    display:flex;

  }

  .center {
    margin: auto;
    width: 45%;
    /* border: 3px solid grey; */
    padding: 10px;
  
}


#input{
    border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 1px 1px 1px #e5e5e5;
    float:left;
    height:35px;
    margin:.8em 0 0 .5em; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:200px; 
}
#button-holder{
 
  cursor:pointer;
  float:left;
  height: 55px;
  margin: 10px 10px 0px 0px;
  text-align:center;
  width:50px;
}
 
#button-holder img{
  margin:4px;
  width:20px; 
}
 .col-6{
  margin-left:1%;
  margin-right:1%;
  margin-bottom:1%;
  margin-top:1%;

  
 }
 .space{
  margin-left:1%;
  /* margin-right:2%; */
  margin-bottom:1%;
  margin-top:1%;

 } 
